.hero-section__image {
    width: 100%;
}

.hero-section__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.4375rem;
    padding: 1rem;
    text-align: center;
}

.hero-section__title {
    margin-bottom: 0.8125rem;
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.hero-section__paragraph {
    margin-bottom: 1.5rem;
    /* text-align: center; */
    color: var(--gray);
    letter-spacing: 0.05px;
    line-height: 1.625;
}

.hero-section__button {
    margin-bottom: 3rem;
    background-color: var(--black);
    color: white;
    border: 0.0625rem solid var(--black);
    border-radius: 0.9375rem;
    padding: 1rem 1.25rem 0.9375rem 1.5rem;
    font-size: 1rem;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.hero-section__icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hero-section__icon--db {
    width: 5.0625rem;
}
.hero-section__icon--ap {
    width: 3.3125rem;
}
.hero-section__icon--mt {
    width: 4rem;
}
.hero-section__icon--mk {
    width: 3.75rem;
}

@media (hover: hover) {
    .hero-section__button:hover {
        color: var(--black);
        background-color: var(--white);
        cursor: pointer;
    }
}

@media screen and (min-width: 38.75em) {
    .hero-section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .hero-section__info-container {
        align-items: flex-start;
        /* padding: 2rem; */
        text-align: left;
    }

    .hero-section__title {
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }

    .hero-section__paragraph {
        margin-bottom: 2rem;
        font-size: 1.125rem;
    }

    .hero-section__button {
        margin-bottom: 3.5rem;
        padding: 1.125rem 1.5rem 1rem 1.75rem;
    }
}

@media screen and (min-width: 46.875em) {
    .hero-section {
        padding: 0 3rem;
    }

    /* .hero-section__info-container {
        padding: 2.5rem;
    } */

    .hero-section__title {
        margin-bottom: 2.5rem;
        font-size: 2.75rem;
    }

    .hero-section__paragraph {
        margin-bottom: 2.5rem;
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 60em) {
    .hero-section {
        padding: 1.5rem 4rem 0 4rem;
    }

    .hero-section__info-container {
        padding: 3.75rem 4rem 0 1rem;
    }

    .hero-section__title {
        font-size: 4rem;
        letter-spacing: -1.2px;
        line-height: 1.01;
    }

    .hero-section__paragraph {
        margin-bottom: 2.5rem;
        padding-right: 2rem;
        line-height: 1.45;
        letter-spacing: 0.059px;
    }

    .hero-section__button {
        padding: 1rem 1.5rem 0.875rem 1.75rem;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: -0.2px;
    }

    /* .hero-section__icons-container > :not(:last-child) {
        margin-right: 2rem;
    } */
}

@media screen and (min-width: 72em) {
    .hero-section {
        padding: 1.5rem 6rem 0 6rem;
    }

    .hero-section__info-container {
        padding: 4.75rem 6rem 0 1.875rem;
    }

    .hero-section__title {
        font-size: 4.5rem;
        letter-spacing: -1.2px;
        line-height: 1.01;
    }

    .hero-section__paragraph {
        margin-bottom: 3rem;
        padding-right: 2.5rem;
        line-height: 1.45;
        letter-spacing: 0.059px;
    }

    .hero-section__button {
        padding: 1.125rem 1.75rem 1rem 2rem;
        font-size: 1.125rem;
        font-weight: 700;
        letter-spacing: -0.2px;
    }

    .hero-section__icons-container > :not(:last-child) {
        margin-right: 2.375rem;
    }
    
    .hero-section__icon--db {
        width: 7rem;
    }
    .hero-section__icon--ap {
        width: 4.4375rem;
    }
    .hero-section__icon--mt {
        width: 5.5rem;
    }
    .hero-section__icon--mk {
        width: 5.0625rem;
    }

    .hero-section__image-container {
        margin-bottom: 0.125rem;
    }
}

@media screen and (min-width: 89.875em) {
    .hero-section {
        padding: 1.6875rem 8.125rem 0 8.125rem;
    }

    .hero-section__info-container {
        padding: 5.0625rem 8.5rem 0 2.1875rem;
    }

    .hero-section__title {
        margin-bottom: 3rem;
        font-size: 5rem;
        letter-spacing: -1.2px;
        line-height: 1.01;
    }

    .hero-section__paragraph {
        margin-bottom: 3.1875rem;
        padding-right: 2.75rem;
        line-height: 1.55;
        letter-spacing: 0.059px;
    }

    .hero-section__button {
        margin-bottom: auto;
        padding: 1.0625rem 1.75rem 0.9375rem 1.875rem;
        font-size: 1.125rem;
        font-weight: 700;
        letter-spacing: -0.2px;
    }

    .hero-section__icons-container {
        justify-content: flex-start;
    }
    .hero-section__icons-container > :not(:last-child) {
        margin-right: 2.5rem;
    }

    .hero-section__icons-container > :last-child {
        margin-left: -0.0625rem;
    }
    
    .hero-section__icon--db {
        width: 7.125rem;
    }
    .hero-section__icon--ap {
        width: 4.5625rem;
    }
    .hero-section__icon--mt {
        width: 5.625rem;
    }
    .hero-section__icon--mk {
        width: 5.1875rem;
    }

    .hero-section__image {
        width: 30rem;
    }
}