.logo {
    margin-left: 0.0625rem;
    margin-top: 1.5rem;
}

.logo:hover {
    cursor: pointer;
}

@media screen and (min-width: 62.5em) {
    .logo {
        margin: 0;
        margin-top: 0.75rem;
    }
}