.navigation-sublist {
    /* position: relative; */
    /* top: 1.75rem;
    left: 1.5rem; */
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    /* visibility: hidden; */
    transition: padding 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.25s ease-in-out, max-height 0.3s ease-in-out;
    transform-origin: top;
    transform: scaleY(0);
    padding: 0; /* Set padding to 0 when collapsed */
}

.navigation-sublist--open {
    /* opacity: 1; */
    /* visibility: visible; */
    /* max-height: 10rem; */
    max-height: 15rem; /* Adjust this value to suit your content */
    opacity: 1;
    transform: scaleY(1);
    padding: 1.75rem 1.5rem;
    padding-bottom: 0.375rem;
}

.navigation-sublist > :not(:last-child) {
    margin-bottom: 1.25rem;
}
