.navigation-sublist {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    /* visibility: hidden; */
    transform-origin: top;
    transform: scaleY(0);
    transition: padding 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.25s ease-in-out, max-height 0.3s ease-in-out;
}

.navigation-sublist--open {
    /* visibility: visible; */
    padding: 1.75rem 1.5rem;
    padding-bottom: 0.375rem;
    max-height: 15rem;
    opacity: 1;
    transform: scaleY(1);
}

.navigation-sublist > :not(:last-child) {
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 60em) {
    .navigation-sublist {
        position: absolute;
    }
}
